.highlight_section_title h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#jcmd h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#java_mission_control h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#tracing_syscalls h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#garbage_collection h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#safepoint h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#just_in_time_compilation h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#tlab h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#native_memory_tracking h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#a_weapon_of_mass_destruction h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.reveal pre code {
  background: white;
}
