.title h1 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#java_9_released h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#when_dust_settles h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#project_valhalla h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#low_hanging_fruits h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#in_a_perfect_place h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#battle_tested h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#java h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#and_speed h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#you_make_me_wanna_dance p {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#reflection_stupid p {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#this_is_where_it_becomes_interesting p {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.reveal pre code {
  background: white;
}
