#!/usr/bin/env zsh

[[ -s "/home/jarek/.sdkman/bin/sdkman-init.sh" ]] && source "/home/jarek/.sdkman/bin/sdkman-init.sh"

sdk use java 11.0.3.hs-adpt
sdk use maven 3.6.1
export FLAMEGRAPH_DIR=/home/jarek/tools/FlameGraph
export JFR_FLAMEGRAPH=/home/jarek/tools/jfr-flame-graph
export ASYNC_PROFILER_DIR=/home/jarek/tools/async-profiler
