.highlight_section_title h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.reveal pre code {
  background: white;
}

#invokedynamic h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#javaagent h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#tools h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#bytecode h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#stack h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#local_variables h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#method_area_bci h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
